{% trans_default_domain 'blog' %}

<div class="col-md-4 col-sm-6">
    <article class="BlogItem">
        <header>
            {% if post.cover %}
                <a href="{{ path('xaben_blog_post', {'id': post.id, 'slug': post.slug, 'month': post.published|date('m'), 'year': post.published|date('Y')}) }}">
                    <div class="BlogItem__image" style="background-image: url({% path post.cover, 'default' %})"> </div>
                </a>
            {% endif %}
            <time datetime="{{ post.published | date("c") }}" class="BlogItem__time">{{ post.published |localizeddate('none', 'none', app.request.locale, null, "d-MMMM-Y") }}</time>
            <h4 class="h4 BlogItem__title">
                <a href="{{ path('xaben_blog_post', {'id': post.id, 'slug': post.slug, 'month': post.published|date('m'), 'year': post.published|date('Y')}) }}">{{ post.title }}</a>
            </h4>
            <hr class="at40"/>
        </header>
        <div class="BlogItem__description">
            {{ post.description|raw }}
        </div>
        <footer>
            <a class="Btn green opaque xs BlogItem__btn" href="{{ path('xaben_blog_post', {'id': post.id, 'slug': post.slug, 'month': post.published|date('m'), 'year': post.published|date('Y')}) }}">
                {{ 'read_more' | trans }}
            </a>
            <div class="BlogItem__social">
                <a class="social" href=""><i class="fa fa-instagram"></i></a>
                <a class="social" href=""><i class="fa fa-facebook"></i></a>
                <a class="social" href=""><i class="fa fa-twitter"></i></a>
            </div>
        </footer>
    </article>
</div>
{% if loop.index % 3 == 0 %}
    <div class="clearfix hidden-sm"></div>
{% endif %}

{% if loop.index % 2 == 0 %}
    <div class="clearfix visible-sm"></div>
{% endif %}
