{% extends 'base.html.twig' %}

{% set headerType = 'video' %}

{% trans_default_domain "default_index" %}

{% block search %}
    <!-- Search block -->
    <div class="homepage">
        {% include ':partials/forms:event_search.html.twig' with {'searchType': searchType} %}
    </div>
{% endblock  %}

{% block body %}
    <!-- Un soir au resto -->
    <div class="container box-lg" id="indexCommentCaMarche">
        <div class="row">
            <h2>{{ 'soir_resto.title' | trans }}</h2>

            <div class="text-center gray box">{{ 'soir_resto.description' | trans }}</div>
        </div>
        <div class="row">
            <div class="col-sm-4 box">
                <div class="Sticker lg-small shadow">
                    <img class="Sticker__content maxH6" src="images/sticker/icon1.png">
                </div>
                <p class="green-opaque box text-center text-xxlg bold lh-normal">{{ 'soir_resto.reason1.title' | trans }}</p>

                <p class="gray text-center">{{ 'soir_resto.reason1.description' | trans }}</p>
            </div>
            <div class="col-sm-4 box">
                <div class="Sticker lg-small shadow">
                    <img class="Sticker__content maxH6" src="images/sticker/icon2.png">
                </div>
                <p class="green-opaque box text-center text-xxlg bold lh-normal">{{ 'soir_resto.reason2.title' | trans }}</p>

                <p class="gray text-center">{{ 'soir_resto.reason2.description' | trans }}</p>
            </div>
            <div class="col-sm-4 box">
                <div class="Sticker lg-small shadow">
                    <img class="Sticker__content maxH6" src="images/sticker/icon3.png">
                </div>

                <p class="green-opaque box text-center text-xxlg bold lh-normal">{{ 'soir_resto.reason3.title' | trans }}</p>

                <p class="gray text-center">{{ 'soir_resto.reason3.description' | trans }}</p>
            </div>
        </div>
        <div class="text-center">
            <a href="javascript: void(0);" onclick="displayModal('modal_simple', {'template': 'video-homepage'});" class="play no-decoration">
                <i class="icon-play"></i>
                <p>{{ "homepage.play"|trans }}</p>
            </a>
        </div>
    </div>
    <!-- Promo blocks -->
    <div class="container-fluid Promo box">
        <div class="row box">
            <div class="col-sm-6 Promo__chef">
                <div class="Promo__show">
                    <div class="Promo__content text-center">
                        <button class="Btn green semi-transparent lg">{{ 'promochef.event_btn' | trans }}</button>
                    </div>
                </div>
                <div class="Promo__hidden">
                    <div class="Promo__content text-center">
                        <p>{{ 'promochef.desc' | trans }} </p>
                        <button class="Btn green-dark2 md border-white round-corners gouteurs">
                            {{ 'promochef.event_btn' | trans }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 Promo__events">
                <div class="Promo__show">
                    <div class="Promo__content text-center">
                        <button class="Btn green semi-transparent lg">{{ 'promoevents.event_btn' | trans }}</button>
                    </div>
                </div>
                <div class="Promo__hidden">
                    <div class="Promo__content text-center">
                        <p>{{ 'promoevents.desc' | trans | raw }}</p>
                        <button class="Btn green-dark2 md border-white round-corners amateurs">
                            {{ 'promoevents.btn' | trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid Promo__community box-lg">
        <div class="Promo__content text-center">
            <div class="container">
                <div class="Promo__community--logo-mobile">
                    <span><h5 class="text-center">{{ 'promocommunity.title1' | trans | raw }}</h5>
                    </span>
                    <span class="Promo__community--logo-web">
                        <a href="javascript:void(0);">
                            <img class="" src="images/logo.png">
                        </a>
                    </span>
                    <span><h5 class="text-center">{{ 'promocommunity.title2' | trans | raw }}</h5></span>
                </div>
                <div class="Promo__community--logo-desktop">
                    <span><h3 class="text-right">{{ 'promocommunity.title1' | trans | raw }}</h3>
                    </span>
                    <span class="Promo__community--logo-web">
                        <a href="javascript:void(0);">
                            <img class="" src="images/logo.png">
                        </a>
                    </span>
                    <span><h3 class="text-left">{{ 'promocommunity.title2' | trans | raw }}</h3></span>
                </div>
                <p>{{ 'promocommunity.desc' | trans | raw }}</p>
                {% if app.user %}
                    <a class="Btn green sm" href="{{ path('event_list') }}">{{ 'promocommunity.register_btn' | trans }}</a>
                {% else %}
                    <a class="Btn green sm"
                       href="javascript:void(0);" onclick="displayModal('modal_login');">{{ 'promocommunity.register_btn' | trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container box-lg">
        <div class="row">
            <h2>{{ 'homepage.last.events.title' | trans }}</h2>

            <div class="text-center">{{ 'homepage.last.events.description' | trans }}</div>
        </div>
        {% if upcomingEvents %}
            <div class="row box">
                {% for upcomingEvent in upcomingEvents %}
                    <div class="col-lg-4">
                        {% include ':partials/widget:event.html.twig' with {'event': upcomingEvent} %}
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="Btn sm wide border-black"
                   href="{{ path('event_list') }}">{{ 'homepage.last.events.more'|trans }}</a>
            </div>
        {% else %}
            {% if app.user and app.user.member.restaurants|length > 0 %}
                {% set eventsNotFoundUrl = path('restaurant_owner_admin_event_new') %}
            {% else %}
                {% set eventsNotFoundUrl = path('restaurateur_simulateur') %}
            {% endif %}
            <p class="text-center">{{ "homepage.last.events.notfound"|trans({"%url%": eventsNotFoundUrl}, "default_index")|raw }}</p>
        {% endif %}
    </div>

    <!-- BLOG -->
    <div class="container-fluid BlogPost--home box-lg box-gray">
        <div class="container">
            <div class="row box">
                <div class="col-xs-12">
                    <h2 class="BlogPost--home__title">
                        <a href="{{ path('xaben_blog_homepage') }}">
                            {{ 'blog.title' | trans }}
                        </a>
                    </h2>

                    <div class="text-center">{{ 'blog.description' | trans }}</div>
                </div>
            </div>
        </div>
    </div>
    {% if blogPost %}
    <div class="container-fluid BlogPost--home__image" style="background-image: url({% path blogPost.cover, 'default' %})"></div>
    <div class="container-fluid BlogPost--home box-lg box-gray">
        <div class="container">
                <div class="row box">
                    <div class="col-xs-12">
                        <h4 class="text-left">
                            <a href="{{ path('xaben_blog_post', {
                                'id': blogPost.id,
                                'slug': blogPost.slug,
                                'month': blogPost.published|date('m'),
                                'year': blogPost.published|date('Y')
                            }) }}">
                                {{ blogPost.title }}
                            </a>
                        </h4>
                        <hr class="at40 dark-gray">
                        <div>
                           {{ blogPost.description| striptags | truncate(500) | raw }}
                        </div>
                        <hr class="at40 dark-gray">
                        <a href="{{ path('xaben_blog_post', {
                            'id': blogPost.id,
                            'slug': blogPost.slug,
                            'month': blogPost.published|date('m'),
                            'year': blogPost.published|date('Y')
                        }) }}" class="text-bold text-capitalize">{{ 'blog.read_more' | trans }}</a>
                    </div>
                    <div class="clearfix visible-sm"></div>
                </div>
            <div class="row box">
                <div class="col-xs-12 text-center">
                    <a href="{{ path('xaben_blog_homepage') }}"
                       class="Btn green sm wide">{{ 'blog.more_articles' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}


{% block javascripts %}
    <script>
        $('.gouteurs').click(function(){
            $.redirectPost(
                    Routing.generate('event_list'),
                    {
                        'app_search[participatorType]': 'applicant_registration_open'
                    }
            );
        });

        $('.amateurs').click(function(){
            $.redirectPost(
                Routing.generate('event_list'),
                {
                    'app_search[participatorType]': 'reservations_opened'
                }
            );
        });
    </script>
{% endblock %}
