{% trans_default_domain 'modal' %}
<modal-block>
    <content>
        <h5 class="box">{{ 'modal.reservation_confirmed.title'|trans }}</h5>
        <p>{{ 'modal.reservation_confirmed.message'|trans }}</p>
        {% if member.id == reservation.member.id %}
            <p>{{ 'modal.reservation_confirmed.message2'|trans }}</p>
            <p class="text-center"><strong>{{ member.tableCode }}</strong></p>
        {% endif %}
        <p class="text-center">
            <a target="_blank" href="https://www.instagram.com/foodandyouofficiel/" class="social"><i class="fa fa-instagram"></i></a>
            <a href="http://www.facebook.com/sharer.php?u={{ url('member_profile', {'slug': member.slug }) }}%23{{ "reservation" ~ reservation.event.id }}&title=Venez avec moi, je participe à une soirée insolite Utilisez le code {{ reservation.tableOwner.tableCode }} pour être à ma même table."
               class="social"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/share?url={{ url('member_profile', {'slug': member.slug }) }}%23{{ "reservation" ~ reservation.event.id }}&text=Venez avec moi, je participe à une soirée insolite Utilisez le code {{ reservation.tableOwner.tableCode }} pour être à ma même table."
               class="social"><i class="fa fa-twitter"></i></a>
        </p>
    </content>
    <script type="text/modal-template" language="JavaScript">
        modal.content().find('.close').on('click', function () {
            var link = $(this).data('link');
            if (link != undefined) {
                window.location.assign(link);
            } else {
                modal.hide();
            }
        });
    </script>
</modal-block>
